{% load static %}

<div class="question-item mt-4 col-11">
    <div class="question-body row">
        <div class="question-left col-2">
            <div class="question-avatar">
                <img src="{{ question.author_img }}"
                     class="rounded avatar-img"
                     alt="user avatar"
                >
            </div>
            <div class="col-12 mt-3">
                <div class="btn-group d-flex justify-content-between" role="group" aria-label="Rating">
                    <div class="">
                        <button type="button" class="btn-minus btn btn-outline-dark btn-sm">-</button>
                    </div>
                    <div class="">
                        {{ question.rating }}
                    </div>
                    <div class="">
                        <button type="button" class="btn-plus btn btn-outline-dark btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-right col-9">
            <div class="question-right-text">
                <h3><a href="{% url 'question' question.id %}">{{ question.title }}</a></h3>
                <p>{{ question.content|truncatechars:400 }}</p>
            </div>
            <div class="question-right-footer row">
                <div class="col-3">
                    <a href="/question/{{ question.id }}">Answers (3)</a>
                </div>
                <div class="col-8">
                    <p>
                        Tags:
                        {% for tag in question.tags %}
                            <a href="{% url "tag_list" tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
